<h3>Supplier List</h3>

<p class="float-right">
  <a routerLink="/supplier/new" class="btn btn-primary">
    <i class="fa fa-plus"></i> New Supplier
  </a>
</p>

<p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control">
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of filteredSupplierList" [routerLink]="[supplier.id]">
      <td>{{supplier.id}}</td>
      <td>{{supplier.name}}</td>
      <td>{{supplier.supplierContact.phone}}</td>
      <td>{{supplier.status}}</td>
      <td>
        <a [routerLink]="[supplier.id]">Manage</a>
      </td>
    </tr>
  </tbody>
</table>