<h3>Sales Order List</h3>

<p class="float-right">
  <a routerLink="/sales-order/new" class="btn btn-primary">
    <i class="fa fa-plus"></i> New Sales Order
  </a>
</p>

<!-- <p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control">
</p> -->

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Sales Order ID</th>
      <th>Status</th>
      <th>Created Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let salesOrder of filteredSalesOrderList" [routerLink]="[salesOrder.id]">
      <td>{{salesOrder.id}}</td>
      <td>{{salesOrder.salesOrderId}}</td>
      <td>{{salesOrder.status}}</td>
      <td>{{salesOrder.createdDate}}</td>
      <td>
        <a [routerLink]="[salesOrder.id]">Manage</a>
      </td>
    </tr>
  </tbody>
</table>