<h3>Supplier Order List</h3>

<div class="mt-4 mb-3">

  <a routerLink="/supplier-order/" class="btn btn-warning"> All </a>
  <a routerLink="/supplier-order/" [queryParams]="{ status: 'sent' }" class="btn btn-success"> Sent </a>
  <a routerLink="/supplier-order/" [queryParams]="{ status: 'received' }" class="btn btn-success"> Received </a>
  <a routerLink="/supplier-order/" [queryParams]="{ status: 'added' }" class="btn btn-success"> Added </a>
  <a routerLink="/supplier-order/new" class="btn btn-primary float-right"> New Supplier Order </a>
</div>
<!-- <p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control">
</p> -->

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Supplier</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplierOrder of filteredSupplierOrderList" [routerLink]="[supplierOrder.id]">
      <td>{{supplierOrder.id}}</td>
      <td>{{supplierOrder.status}}</td>
      <td>{{supplierOrder.createdDate}}</td>
      <td>{{supplierOrder.supplier.name}}</td>
      <td>
        <a [routerLink]="[supplierOrder.id]">Manage</a>
      </td>
    </tr>
  </tbody>
</table>